<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <title>Document</title>
</head>
<body>
    <a href="/"><h1>Python Flask Project WebSite</h1></a>
    <form action="/createPost" method="POST">
        <p><input type="text" placeholder="title" name="title"></p>
        <p><textarea name="content" placeholder="content" cols="30" rows="10"></textarea></p>
        <p><input type="submit" value="Create"></p>
    </form>
</body>
</html>