<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <title>Document</title>
    <script>
        const pid = parseInt("{{ pid }}");
        let cid=0;
    </script>
</head>
<body>
    <a href="/"><h1>Python Flask Project WebSite</h1></a>
    <h2>{{ title }}</h2>
    <div>
        nickname : {{ nickname }} |  date : {{ posted_date }}  
    </div>
    <h4>{{ content }}</h4>
    {% if developer_auth %}
    <span>
        <form action="/deletePost/{{pid}}" method="POST">
            <input type="submit" value="Delete">
        </form>
    </span>
    {% endif %}
    {% if match_user %}
    <span>
        <button type="button" onclick="location.href='/updatePost/'+pid">Update</button>
        {% if developer_auth == 0 %}
        <form action="/deletePost/{{pid}}" method="POST">
            <input type="submit" value="Delete">
        </form>
        {% endif %}
    </span>
    {% endif %}
    {% if check_user %}
    <span>
        <form action="/createComment/{{pid}}" method="POST">
            <p><input type="text" placeholder="title" name="title"></p>
            <p><textarea placeholder="content" name="content" cols="30" rows="10"></textarea></p>
            <p><input type="submit" value="Comment"></p>
        </form>
    </span>
    {% endif %}
    {% if comment_data %} <!-- id,nickname,commented_date,title,content -->
    <script src="{{ url_for('static',filename='comment.js') }}"></script>
    <ol>
    {% for cid,id,nickname, commented_date, title, content, updated in comment_data%}
        <script>
            cid = parseInt("{{ cid }}");
        </script>
        <div>
        {% if user_id == id %}
            <form id="update_comment_{{cid}}_form" action="/updateComment/{{cid}}" method="POST">
        {% endif %}
            <span id="update_comment_{{cid}}_title">{{ title }} | </span>
            <span>{{ nickname }} | {{ commented_date }}</span>
        {% if updated %}
            <span>| Updated |</span>
        {% endif %}
            <div id="update_comment_{{cid}}_content">{{ content }} </div>
        {% if user_id == id %}
            <!-- 댓글삭제랑 수정하는 버튼 만들거임 -->
            <button id="update_comment_{{cid}}_button" type="button" onclick="updateComment(cid);">Update</button>
            </form>
            <form action="/deleteComment/{{cid}}" method="POST">
                <input style="display:none;" type="text" value="{{id}}" name="id" title="id">
                <input type="submit" value="Delete">
            </form>
        {% endif %}
        </div>
    {% endfor %}
    </ol>
    {% endif %}
</body>
</html>