:root{
    --1-color:#87a5f8;
    --2-color:#4070f4;
    --3-color:#0e4bf1;
    --4-color:#695CFE;
    --5-color:#f2f2f2;
    --6-color:#F6F5FF;
    --7-color:#E4E9F7;
    --8-color:#e0e0e0;
    --9-color:#ccc;
    --10-color:#DDD;
    --11-color:#ddd;
    --12-color:#E4E9F7;
    --13-color:#666666;
    --14-color:#707070;
    --15-color:#999;
    --16-color:#3a3b3c;
    --17-color:#343F4F;
    --18-color:#242526;
    --19-color:#1d1b31;
    --20-color:#18191a;
    --21-color:#11101D;
}