<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>mypage</title>
</head>
<body>
    <a href="/"><h1>Python Flask Project WebSite</h1></a>
    <ol>
        <li>ID : {{ id }}</li>
        <li>NickName : {{ nickname }}</li>
        {% if authority %}
        <li>{{ authority }}</li>
        {% else %}
        <li> authority : general </li>
        {% endif %}
    </ol>
    <button type="button" onclick="location.href='/modifyUser'">Modify</button>
    <button type="button" id="withdraw-btn">Withdrawal</button>
    <script
    src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{{ url_for('static',filename='modal.js')}}"></script>
</body>
</html>